function Main.main 0
push constant 100
push constant 200
push constant 35
call Screen.drawCircle 3
pop temp 0
push constant 400
push constant 75
push constant 15
call Screen.drawCircle 3
pop temp 0
push constant 0
return
